#container {
    margin: 0 auto;
}

img {
    max-height: 100px;
}

#instructions {
    text-align: center;
    margin-bottom: 20px;
}

#main_title {
    font-family: 'Silkscreen';
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

#instructions_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 30px;
    text-align: center;
    background-color: white;
    color: black;
    padding-top: 20px;
    margin-bottom: 20px;
}

#grassy, #rocky, #watery, #caves, #underground, #hidden {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#area_names {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    flex-wrap: wrap;
}

#area_names p {
    padding-right: 30px;
    padding-bottom: 15px;
}

#area_names p:not(#choose) {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

#type_table {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.type_box {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}

.type_title {
    max-width: 100px;
    text-align: center;
    border-right: 1px solid black;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

.images {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
}

.images div {
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

.type_title p {
    padding-top: 5px;
    padding-bottom: 5px;
}