#container {
    margin: 0 auto;
}

img {
    max-height: 100px;
}

#instructions {
    text-align: center;
    margin-bottom: 20px;
}

#main_title {
    font-family: 'Silkscreen';
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

#instructions_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 30px;
    text-align: center;
    background-color: white;
    color: black;
    padding-top: 20px;
    margin-bottom: 20px;
}

#area_names {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    flex-wrap: wrap;
}

#area_names p {
    padding-right: 30px;
    padding-bottom: 15px;
}

#area_names p:not(#choose) {
    text-decoration: underline;
    color: blue;
}

#type_table {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.type_box {
    max-height: 100px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}

.type_title {
    width: 100px;
    max-height: 100px;
    text-align: center;
    border-right: 1px solid black;
    padding-top: 40px;
}