body {
    background-color: rgb(24, 24, 24);
}

.hidden {
    display: none;
}

#container {
    margin: 0 auto;
}

img {
    max-height: 100px;
}

p {
    color: white;
}

.scarlet {
    color: #FF2400;
}

.violet {
    color: #8F00FF;
}

#title {
    color: white;
    background-color: red;
}

#instructions {
    text-align: center;
    margin-bottom: 20px;
    background-color: white;
}

#main_title {
    font-family: 'Silkscreen';
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

#instructions_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: white;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}

#legend_click {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

#legend {
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    text-align: center;
    text-shadow: 1px 1px black;
}

#question_symbol {
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 20px;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 10px;
    background-color: white;
}

#legend_info {
    display: none;
    border: 1px solid black;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
}

#legend_info p {
    color: black;
    padding-bottom: 7px;
}

#grassy, #rocky, #watery, #caves, #underground, #hidden {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#area_names {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    flex-wrap: wrap;
}

#area_names p {
    padding-right: 30px;
    padding-bottom: 15px;
}

#area_names p:not(#choose) {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.area_name {
    text-shadow: 1px 1px black;
}

#type_table {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.type_box {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid white;
    background-color: violet;
}

.type_name {
    text-shadow: 1px 1px black;
}

.type_title {
    max-width: 100px;
    text-align: center;
    border-right: 1px solid white;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: red;
}

.images {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
}

.images div {
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

.pokemon_name {
    text-shadow: 0 1px black;
}

.type_title p {
    padding-top: 5px;
    padding-bottom: 5px;
}

.venomoth, .masquerain, .volcarona, .lokix, .slither_wing, .umbreon, .sneasel, .murkrow, .sableye, .honchkrow, .weavile, .bisharp, .zweilous, .brute_bonnet, .iron_jugulis, .roaring_moon, .altaria, .gible, .gabite, .dreepy, .drakloak, .sandy_shocks, .pawmi, .pawmo, .iron_hands, .iron_thorns, .raichu, .tadbulb, .bellibolt, .iron_valiant, .floette, .scream_tail, .flutter_mane, .meditite, .medicham, .flamigo, .hawlucha, .great_tusk, .talonflame, .iron_moth, .jumpluff, .braviary, .corviknight, .golduck, .vaporeon, .espeon, .buizel, .floatzel, .iron_bundle, .greavard, .houndstone, .iron_treads, .gogoat, .phanpy, .donphan, .dugtrio, .girafarig, .chansey, .farigiraf, .dunsparce, .dudunsparce, .glimmora, .glimmet, .espathra, .lycanroc, .lycanroc_m, .nacli, .naclstack, .garganacl, .cufant, .copperajah {
    display: none;
}

.grassy_show, .rocky_show, .watery_show, .caves_show, .underground_show, .hidden_show {
    display: block;
}

#bottom {
    background-color: red;
    margin-top: 30px;
    padding-top: 20px;
    text-align: center;
}

#bottom p {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}